# Binarios y temporales
*.tmp
*.exe
*.zip
*.log
*~
acta_recibido_crud
main

# Variables de Entorno
*.env

# IDEs y otros
.vscode
.scannerwork/

# Swagger
swagger/**
!swagger/swagger.json
!swagger/swagger.yml
